@import "@/presentation/styles/colors.module.scss";

.container {
  padding: 0 15px;
  height: 100%;
  flex: 0 0 420px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    color: $textDark;
  }
  button {
    width: 42px;
    height: 42px;
    border-radius: 18px;
    background: #3b5bfd;
    border: 0;
    cursor: pointer;
  }
}
.background {
  background-color: $background2;
  max-height: max-content;
  border-radius: 8px;

  margin-top: 20px;
  display: flex;
  flex-direction:column;
  min-height: 120px;
}


.buttonContainer{
  margin: 15px 15px 15px 15px;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    padding-top: 30px;
  }
}
