$white: #fff;
$background: #f4f6f7;
$background2:#EDF1F2;

$primary: #41b49e;

$grayDark: #8499a2;
$grayDark2: #cad8da;
$grayMedium: #dee6e7;
$grayLight: #e6edee;
$grayLight2: #f4f6f7;

$textDark: #5d6c72;
$textLight: #a2adb0;

$redMedium:#FF6753;
$redLight:#FFDCD7;

$yellowMedium:#FFC053;
$yellowLight:#FFEEBF;

$blueMedium:#53C0FF;
$blueLight:#D7F0FF;

$button: #E3E9EA;

