@import "../../styles/colors.module.scss";

.img {
  height: 30px;
  padding-right: 10px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .contentContainer {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .contentContainer {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .contentContainer {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
 }
