@import "../../styles/colors.module.scss";


.img{
  height:30px;
  border-radius: 50%;
  border: 2px solid $background;
  margin-left: -5px;;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    display: none;
  }
}