.container {
  padding:30px;
  height: 100vh;
  width:calc(100% - 220px);


  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  
}

.cal220{
  width:calc(100% - 220px);
}

.cal100{
  width:calc(100% - 100px);
}