@import "@/presentation/styles/colors.module.scss";

.container {
  display: flex;
  flex-flow: column;
  z-index: 1039;
  height: 100vh;
  width: 220px;
  position: relative;
  background-color: $grayLight;
  padding-right: 15px;
  padding-left: 15px;
}

.menuText {
  font-size: 14px;
  font-weight: normal;
  color: $textDark;
}

.menuLink {
  display: flex;
  align-items: center;
  width: 100%;
  height: 26px;

  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 6px;

  text-decoration: none;

  &:hover {
    background-color: $grayMedium;
  }
}

.isPath {
  background-color: $grayMedium !important;
}

.left {
  padding-left: 8px;
}

.right {
  padding-left: 8px;
}

.mv {
  margin-top: 15px;
  margin-bottom: 15px;
}

.center {
  justify-content: center;
  align-items: center;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-flow: row;
    border-right-width: 0;
    border-top-width: 2px;
    border-top-color: $grayMedium;
    border-top-style: solid;
    overflow-y: none;
    overflow-x: scroll;

    flex-wrap: nowrap;
    overflow-x: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .expandButton {
    display: none;
  }

  .menuLink {
    width: 40px;
  }


}
